

img {
    height: 120px;
    width: 120px;
}
div{
    display: flex;
}

#h
{
    text-align: center;
    font-size: 80px;
    color: rgb(243, 19, 131);
    font-family:	Copperplate;
}
#u
{
    font-size: 50px;
    color: orange;
}
body{
    background-color:rgb(20, 213, 247);
}
 
 

  
  
  
  .card {
   
      padding-top: 30px;
      padding-bottom: 20px;
      
      margin-bottom: 50px;
     padding-right: 100px;
      padding-left: 140px;
  }
    


  span {
 
    font-size: 20px;
   
 
}

 #a{
border: black solid;
padding-left:60px;


background-color: rgb(175, 104, 11);
color: cornsilk;
border-radius: 10px;

   
    
   
}
  #p
  {
      font-size: 20px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: rgb(24, 16, 20);
 
  }
  p
  {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: salmon;
      font-size: 50px;
  }

